body            
{ 
	background: #fff; 
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.hidden
{
	visibility: hidden;
}

.metanav        
{ 
	text-align: right; 
	font-size: 1.2em; 
	padding: 0.3em;
    margin: 1em; 
    background: #ffffff; 
}

.flash          
{ 
	background: #CEE5F5; 
	padding: 0.5em;
    border: 1px solid #AACBE2; 
}

.message-content 
{ 
	min-height: 80px; 
}
